# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import random as ra
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [ ]:
car1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv",delimiter=",")
car2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv",delimiter=",")
car1

In [ ]:
car2

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [ ]:
# car1 = car1.drop(["Unnamed: 9","Unnamed: 10","Unnamed: 11","Unnamed: 12","Unnamed: 13"],axis=1)
car1.drop(["Unnamed: 9","Unnamed: 10","Unnamed: 11","Unnamed: 12","Unnamed: 13"],axis=1,implace=True)

### Step 5. What is the number of observations in each dataset?

In [ ]:
car1.shape[0],car2.shape[0]

(198, 200)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [ ]:
cars = pd.concat([car1,car2])
cars

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [ ]:
Owners = car1["cylinders"].apply(lambda x: ra.randint(15000,73000))

### Step 8. Add the column owners to cars

In [13]:
cars["Owners"] =  Owners
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,57076.0
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,63776.0
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,20531.0
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,58249.0
4,17.0,8,302,140,3449,10.5,70,1,ford torino,40326.0
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,69605.0
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,33743.0
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,47095.0
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,NaN
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,NaN