# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter="\t")
chipo

### Step 4. See the first 10 entries

In [ ]:
#Index(['order_id        quantity        item_name       choice_description      item_price']
chipo.head(10)

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
len(chipo)

4622

In [ ]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [ ]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [ ]:
# df = pd.read_csv("csv/txt file path or data").set_index("column_name")

### Step 9. Which was the most-ordered item?

In [ ]:
chipo["item_name"].value_counts().head(1)

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
chipo[chipo["item_name"]=="Chicken Bowl"]["quantity"].sum()

761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
chipo["choice_description"].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [ ]:
len(chipo["order_id"].unique())

1834

### Step 13. Turn the item price into a float

In [ ]:
for i,j in enumerate(chipo["item_price"]):
  chipo["item_price"][i] = float(chipo["item_price"][i][1:])

#### Step 13.a. Check the item price type

In [ ]:
chipo["item_price"].dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [ ]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
sum(chipo["quantity"]*chipo["item_price"])
#['order_id', 'quantity', 'item_name', 'choice_description',
      #  'item_price']

39237.020000000055

### Step 15. How many orders were made in the period?

In [ ]:
chipo['quantity'].sum()

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
sum(chipo["quantity"]*chipo["item_price"]) / chipo["quantity"].sum()

7.89159694288014

In [ ]:
# Solution 2
sum(chipo["quantity"]*chipo["item_price"]) / chipo["quantity"].sum().mean()

7.89159694288014

### Step 17. How many different items are sold?

In [ ]:
# ['order_id', 'quantity', 'item_name', 'choice_description','item_price']
chipo["item_name"].unique()